body {
    background-color: black;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-family: verdana;
    text-align: center;
    color: white;
}

#unu {
    font-weight: normal;
    font-size: 50px;
}

#doi {
    font-weight: 300;
    font-size: 42px;
}

#trei {
    font-family: Verdana;
    font-size: 21px;
    color: grey;
}

#copy {
    text-align: right;
    color: grey;
}